 @* @model Healthify.ViewModels.LoginViewModel *@
 <!-- LOGIN MODAL -->
    <div class="modal fade" id="loginModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form asp-controller="Auth" asp-action="Login" method="post">

                        <div class="mb-3">
                            <label>Email</label>
                            <input name="Email" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            <input name="Password" type="password" class="form-control" required />
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <!-- Forgot Password -->
                            <a asp-controller="Account" asp-action="ForgotPassword" class="small text-decoration-none">
                                Forgot Password?
                            </a>

                            <!-- Switch to Register -->
                            <a href="#" class="small text-decoration-none"
                              data-bs-dismiss="modal"
                              data-bs-toggle="modal"
                              data-bs-target="#registerModal">
                                New user? Register Now
                            </a>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Login
                        </button>

                    </form>
                </div>

            </div>
        </div>
    </div>